@import '~material-design-lite/src/_color-definitions.scss';

/** Colors */
$color-primary: $palette-indigo-700;
$color-primary-dark: $palette-indigo-900;
$color-accent: $palette-blue-A200;

// Color for overlayed text
$color-dark-contrast: $palette-grey-400;

// Primary and accent colors are dark, so we use dark contrast
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

/** Typography */
$preferred_font: 'Montserrat', sans-serif;
$text-color-primary: unquote("rgb(#{$color-primary-contrast})");

/** Chips */
$chip-bg-color: unquote("rgb(#{$color-primary})");
