@import '~material-design-lite/src/_color-definitions.scss';
$color-primary: $palette-blue-grey-500;
$color-primary-dark: $palette-blue-grey-700 !default;
$color-accent: $palette-blue-A200 !default;
$preferred_font: 'Source Sans Pro', sans-serif;