@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'variables';
@import 'mdl-components';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $preferred_font;
  font-size: 14px;
  font-weight: 300;
  background-color: unquote("rgb(#{$color-primary-dark})");
  color: unquote("rgb(#{$color-dark-contrast})");
}
